/config.local.php
/templates_c/*.tpl.php
/templates_c/*menu.conf.php
/.php_cs.cache
/.idea
/vendor
/composer.lock
/coverage
/composer.phar
/composer_2.phar
/.php-cs-fixer.cache
/.phpunit.result.cache
/build
/tests/postfixadmin.sqlite.*.test
/phpstorm-docker-dev/
