<phpunit
    bootstrap="tests/bootstrap.php"
    >
    <testsuites>
        <testsuite name="default">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="PHPUNIT_TEST" value="true" />
    </php>

    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="html-coverage" lowUpperBound="50" highLowerBound="80"/>
        </report>
    </coverage>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>./model/</directory>
            <directory>./public/</directory>
            <directory>./functions.inc.php/</directory>
        </include>
            <exclude>
                <directory>./tests/</directory>
                <directory>./vendor/</directory>
                <directory>./lib/</directory>
            </exclude>
    </source>


</phpunit>
