body {
	background: white;
	color: black;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 20px;
}

a {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blue;
	text-decoration: none;
}

hr {	
	line-heigt: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
}

p {
	margin-top: 11px;
}


table {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	text-align: left;
	width: 640px;
}

table.auto {
	width: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	text-align: left;
}

table.form {
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
	width: auto;
}

tr.header {
	font-weight: bold;
}

tr.hilightoff {
	background: #ffffff;
}

tr.hilighton {
	background: #dfdfdf;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

td.menu {
	text-align: center;
	background: #dfdfdf;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-radius: 2px;
	-moz-border-radius: 2px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

input {
	float: none;
	clear: none;
}

textarea {
	float: none;
	clear: none;
}

div.standout {
	color: #d01313;
}

div.footer {
	margin-bottom: 0px;
	margin-top: 5px;
}
