#!/bin/sh
set -e

. /usr/share/debconf/confmodule

# Ask for domain configuration
db_input medium postfixadmin/configure-domain || true
db_input low postfixadmin/configure-vacation-subdomain || true
db_go

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
	# we support mysql and pgsql
	dbc_dbtypes="mysql, pgsql"

	. /usr/share/dbconfig-common/dpkg/config
	dbc_go postfixadmin $@
fi
