name: PHP Composer

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: setup templates_c
      run: mkdir templates_c || true

    - name: touch config.local.php
      run: touch config.local.php && php -v

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Build/test
      run: composer build

    - name: Submit Coveralls.
      run: vendor/bin/php-coveralls

